<!doctype html>
<html lang="en">
<div th:replace="~{public-header}"></div>
<body>
<div th:replace="~{public-navbar}"></div>
<div class="container">
    <div class="row text-center" style="margin-top: 5rem;">
        <div class="col-lg-4 offset-lg-4">
            <h1 class="display-1">LucidStack</h1>
            <h4 style="color: #999">Application Development Platform</h4>
            <hr>
            <a class="btn btn-lg btn-primary" href="/join">Get Started</a>
        </div>
    </div>
</div>
<div th:replace="~{public-footer}"></div>
</body>
</html>
