<!doctype html>
<html lang="en">
[[template "header.html" .]]
<body>
[[template "navbar.html" .]]
<div class="container">
    <div class="row" style="margin-top: 2rem;">
        <div class="col-lg-8 offset-lg-2">
            <div class="row">
                <div class="col-lg-8">
                    <h5 style="color: #999">Entities</h5>
                    <h2 id="model-name"></h2>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#add-entity-modal">Add Entity</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 0.5rem;">
                        <div class="col-lg-12">
                            <select id="filter-environment-id" style="width: 100%;"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Action</th>
                            <th>Affordance</th>
                        </tr>
                        </thead>
                        <tbody id="entities"></tbody>
                    </table>
                    <button class="btn btn-outline-secondary w-100" id="load-more-btn">Load More Entities</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-entity-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Entity</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="add-entity-message"></div>
                <form>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="name" placeholder="Name">
                        <label for="name" class="form-label">Name</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <textarea class="form-control" id="description" placeholder="Description" style="height: 100px"></textarea>
                        <label for="description" class="form-label">Description</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-entity-btn">Add Model</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/x-handlebars-template" id="entities-template">
    {{#each entities}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>
                <a href="/entities/{{id}}/parents" class="btn btn-light btn-sm">Parents</a>
                <a href="/entities/{{id}}/children" class="btn btn-light btn-sm">Children</a>
                <a href="/entities/{{id}}" class="btn btn-primary btn-sm">Manage</a>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Affordance
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/entities/{{id}}/properties">Properties</a></li>
                        <li><a class="dropdown-item" href="/entities/{{id}}/events" type="button">Events</a></li>
                        <li><a class="dropdown-item" href="/entities/{{id}}/actions" type="button">Actions</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    {{/each}}
</script>
[[template "footer.html" .]]
<script type="text/javascript">
    const modelId = "[[.model_id]]"
    const entitiesTemplate = Handlebars.compile($("#entities-template").html())

    function renderEntities(page, size) {
        listEntities(modelId, $("#filter-environment-id").val().trim(), page, size, function (data) {
            $("#entities").append(entitiesTemplate({entities: data}))
            if (data.length < size) {
                $("#load-more-btn").hide();
            }
        });
    }

    $(document).ready(function() {
        getModel(modelId, function (data) {
            $("#model-name").html(data.name)
        })

        $('#filter-environment-id').select2({
            placeholder: 'Select Environment',
            ajax: {
                url: '/api/v1/environments/search',
                dataType: 'json',
                delay: 250,
                headers: getHeaders(),
                data: function (params) {
                    return {
                        query: params.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.map(function (environment) {
                            return {
                                id: environment.id,
                                text: environment.name
                            };
                        })
                    };
                },
                cache: true
            }
        });

        $("#add-entity-btn").click(function (e) {
            e.preventDefault()

            let environmentId = $("#filter-environment-id").val()
            let name = $("#name").val().trim()
            let description = $("#description").val();

            if (environmentId === null) {
                displayError($("#add-entity-message"), "Environment is not selected")
                return
            }

            if (name === "") {
                displayError($("#add-entity-message"), "Name is required")
                return
            }

            createEntity(modelId, name, description, environmentId, function (data) {
                displaySuccess($("#add-entity-message"), "Entity created successfully")
                $("#entities").prepend(entitiesTemplate({entities: [data]}))
            }, function (data) {
                displayError($("#add-entity-message"), data.responseJSON.message)
            })
        })

        let currentPage = 0
        let pageSize = 50
        let loadMoreBtn = $("#load-more-btn")
        loadMoreBtn.hide()

        $("#filter-environment-id").change(function () {
            currentPage = 0
            $("#entities").html("")
            $("#load-more-btn").show()
            renderEntities(currentPage, pageSize)
        })

        loadMoreBtn.click(function (e) {
            e.preventDefault()
            currentPage = currentPage + 1
            renderEntities(currentPage, pageSize)
        })
    })
</script>
</body>
</html>
