<!doctype html>
<html lang="en">
[[template "header.html" .]]
<body>
[[template "navbar.html" .]]
<div class="container">
    <div class="row" style="margin-top: 2rem;">
        <div class="col-lg-6 offset-lg-3">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Models</h2>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#add-model-modal">Add Model</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Schema</th>
                            <th>Manage</th>
                        </tr>
                        </thead>
                        <tbody id="models"></tbody>
                    </table>
                    <button class="btn btn-outline-secondary w-100" id="load-more-btn">Load More Models</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-model-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Model</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="add-model-message"></div>
                <form>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="name" placeholder="Name">
                        <label for="name" class="form-label">Name</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <textarea class="form-control" id="description" placeholder="Description" style="height: 100px"></textarea>
                        <label for="description" class="form-label">Description</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-model-btn">Add Model</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/x-handlebars-template" id="models-template">
    {{#each models}}
        <tr>
            <td>{{name}}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Schema
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/models/{{id}}/properties">Properties</a></li>
                        <li><a class="dropdown-item" href="/models/{{id}}/events" type="button">Events</a></li>
                        <li><a class="dropdown-item" href="/models/{{id}}/actions" type="button">Actions</a></li>
                    </ul>
                </div>
            </td>
            <td><a class="btn btn-sm btn-primary" href="/models/{{id}}">Manage</a></td>
        </tr>
    {{/each}}
</script>
[[template "footer.html" .]]
<script type="text/javascript">
    const modelsTemplate = Handlebars.compile($("#models-template").html())

    function renderModels(page, size) {
        listModels(page, size, function (data) {
            $("#models").append(modelsTemplate({models: data}))
            if (data.length < size) {
                $("#load-more-btn").hide()
            }
        })
    }
    $(document).ready(function() {
        let currentPage = 0
        let pageSize = 50
        renderModels(currentPage, pageSize)
        $("#load-more-btn").click(function(e) {
            e.preventDefault();
            currentPage = currentPage + 1
            renderModels(currentPage, pageSize)
        })

        $("#add-model-btn").click(function (e) {
            e.preventDefault();
            let name = $("#name").val().trim();
            let description = $("#description").val();

            if (name === "") {
                displayError($("#add-model-message"), "Name is required")
                return
            }

            createModel(name, description, function (data) {
                $("#models").prepend(modelsTemplate({models: [data]}))
                displaySuccess($("#add-model-message"), "Model created successfully")
            }, function (data) {
                displayError($("#add-model-message"), data.responseJSON.message)
            })
        })
    })
</script>
</body>
</html>
