<!doctype html>
<html lang="en">
{%  include 'public-header.html' %}
<body>
{% include 'public-navbar.html' %}
<div class="container">
    <div class="row text-center" style="margin-top:5rem;">
        <div class="col-md-6 offset-lg-3">
            <h1 class="display-1">LucidStack</h1>
            <hr>
            <h4 style="color: #999">Control Plane For Your Systems</h4>
            <a class="btn btn-primary btn-lg" href="/join" style="margin-top: 2rem;">Get Started</a>
        </div>
    </div>
</div>
{% include 'public-footer.html' %}
</body>
</html>