<!doctype html>
<html lang="en">
[[template "public-header.html" .]]
<body>
[[template "public-navbar.html" .]]
<div class="container">
    <div class="row text-center" style="margin-top: 3rem;">
        <div class="col-lg-4 offset-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4>Sign Up For A New Account</h4>
                    <div id="message"></div>
                    <hr>
                    <form>
                        <div class="mb-3 form-floating">
                            <input type="text" class="form-control" placeholder="Organization Name" id="organization-name">
                            <label for="organization-name" class="form-label">Organization Name</label>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text" class="form-control" placeholder="Username" id="username">
                            <label for="username" class="form-label">Username</label>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="password" class="form-control" placeholder="Password" id="password">
                            <label for="password" class="form-label">Password</label>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="email" class="form-control" placeholder="Billing Email" id="billing-email">
                            <label for="billing-email" class="form-label">Billing Email</label>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary w-100" id="join-btn">Sign Up For A New Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
[[template "public-footer.html" .]]
<script type="text/javascript">
    $(document).ready(function() {
        $("#join-btn").click(function(e) {
            e.preventDefault()
            let username = $("#username").val().trim()
            let password = $("#password").val().trim()
            let billingEmail = $("#billing-email").val().trim()
            let organizationName = $("#organization-name").val().trim()

            if (organizationName === "") {
                displayError($("#message"), "Organization name is required")
                return
            }

            if (username === "") {
                displayError($("#message"), "Username is required")
                return
            }

            if (password === "") {
                displayError($("#message"), "Password is required")
                return
            }

            if (billingEmail === "") {
                displayError($("#message"), "Billing email is required")
                return
            }

            userSignUp(username, password, organizationName, billingEmail, function (data) {
                displaySuccess($("#message"), "Account created successfully, please <a href='/login'>log in</a> to continue")
            }, function (data) {
                displayError($("#message"), data.responseJSON.message)
            })
        })
    })
</script>
</body>
</html>